body{
    background-color: rgb(240, 240, 240);
}

#ImageBox{
    box-shadow:rgba(80, 80, 80, 0.1) 0px 0px 10px 0px;
    outline: rgb(36, 38, 37) none 0px;
    box-sizing: border-box;
}

#containerInfoBox{
    background-color: rgb(240, 240, 240);
}

#InfoBox{
    float: right; 
    width:95%; 
    box-shadow:rgba(80, 80, 80, 0.1) 0px 0px 10px 0px;
    outline: rgb(36, 38, 37) none 0px; box-sizing: border-box;
}

#title{
    
}