.bg-color1{
    background-color: #032539;
}

.bg-color2{
    background-color: #fa991c;
}

.bg-color3{
    background-color: green;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
    292d36
    fc5f40

    032539
    fa991c
*/

/* 
    03dac6
    2c3f50 
    34495e ++
    018786
    6200EE
    e39801
*/

/* 
    010101
    f06236
    fcc809
    fdfdfd
    414342

*/