.bar{
    transform: translate(0,-27px);
}

.singBtn{
    width: 100px;
    height: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: silver;
    transition: 0.3s;
    margin: 0px 5px;
    border-radius: 4px;
}

.searchbtn{
    transition: 0.3s;
}

.searchbtn2{
    position: absolute;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.cartCount{
    background-color: blue;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    font-size: 9px;
    position: absolute;
    right: -7px;
    top: 2px;
}

.searchbtn2:hover{
    background-color: #fa991c;
    border: 1px solid black;
    
}

.searchbtn2 input{
    outline: none;
}

@media screen and (min-width:768px) {
    .navbuttons{
        width: 100px;
        transition: 0.2s;
        margin: 0px 5px;
        border-bottom: 2px solid transparent;
        text-shadow: 1px 1px 3px black;
    }
    .navbuttons:hover{
        border-bottom: 2px solid rgba(255, 255, 255, 0.6);
        padding-bottom: 3px;
        text-shadow: 0px 3px 3px black;
    }
}


.registerBtn{
    border: 1px solid rgba(192, 192, 192, 0.7);
}

.registerBtn:hover{
    border: 1px solid white;
}

.loginBtn{
    border:1px solid rgba(192, 192, 192, 0.3);
}

.loginBtn:hover{
    border:1px solid rgba(192, 192, 192, 0.5);
}

.singBtn:hover{
    color: white;
}

.scrollUp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 1000;
    transition: 0.3s;
}

.userInfoBox{
    height: 35px;
    width: 250px;
    border-radius: 4px;
    border: 1px solid rgba(192, 192, 192, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}