.popupContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    animation-name: coming2;
    animation-duration: 0.3s;
}

.popup{
    width: 500px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
    animation-name: coming;
    animation-duration: 0.3s;
}

@keyframes coming {
    0%{
        opacity: 0%;
        transform: translate(0,-50%);
    }
    100%{
        opacity: 100%;
        transform: translate(0,0%);
    }
}

@keyframes coming2 {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.input{
    width: 100%;
    margin: 10px 0px;
    outline: none;
    transition: 0.3s;
    padding-left: 15px;
    border: none;
    border-bottom: 1px solid wheat;
    margin: 15px 0px;
    animation-duration: 0.3s;
}

@keyframes lose {
    0%{
        opacity: 100%;
    }
    99%{
        height: 0px;
        opacity: 0%;
    }
    100%{
        display: none;
    }
}

.input:focus{
    padding-left: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    /* box-shadow: 0px 0px 10px rgba(225, 225, 225, 0.4); */
}



@media screen and (max-width:400px) {
    .popup{
        width: 100%;
    }
}

